<div class="container">
  <h1>My tasks</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item"><%= link_to task.title , task_path(task)%> </li>
    <% end %>
  </ul>
    <button type="button" class="btn btn-primary mt-3"><%= link_to "Add new task", new_path %></button>
</div>
